section.map {
	position: relative;
	height: 100px;
	overflow: hidden;
}

section.map > div {
	position: absolute;
	top: -200px;
	left: 0;
	right: 0;
	bottom: -200px;
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}
